@keyframes glide {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: #272727;
}

.links {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links p {
    padding: 1rem 2rem;
}

.links p a{
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    overflow: hidden;
}

.slider { 
    position: relative;
    width: 500%;
    font-size: 0;
    animation: glide 10s infinite;
}

.slider div { 
    width: 20%;
    height: auto;
    display: inline-block;
}

.slider img { 
    width: 100%; 
    height: auto; 
}
